<template>
<div class="container">
  <div>
    <button @click="BigData()" type="button" class="btn btn-secondary">Большой обьем данных</button>
    <button @click="SmallData()" type="button" class="btn btn-secondary">Маленький обьем данных</button>
    <button @click="OpenForm()" type="button" class="btn btn-secondary">Добавить данные</button>
  </div>
          <form id="DataForm">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" required>
              </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">First Name</label>
              <input type="firstname" class="form-control" id="inputFirstName" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputName4">Last Name</label>
              <input type="lastname" class="form-control" id="inputLastName" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" required>
          </div>
            <div class="form-group col-md-4">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <input type="text" class="form-control" id="inputState" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputPhone4">Phone </label>
              <input type="tel" pattern="^\d{11}$" class="form-control" id="inputPhone" required>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip" required>
            </div>
            <div class="form-group">
              <label for="InputDescription">Description</label>
              <textarea class="form-control" id="InputDescription" rows="3" required></textarea>
            </div>
          <button @click="EnterData()" type="button" class="btn btn-primary">Добавить данные</button>
          <button @click="CloseForm()" type="button" class="btn btn-secondary">Закрыть</button>
        </form>
    <table id="table_id" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>phone</th>
            <th>address</th>
            <th>Description</th>
        </tr>
    </thead>
      <tbody>
      </tbody>
    </table>
    <table class="table table-striped table-bordered">
      <thead>
        <tr><td colspan="7">Выбранные строки</td></tr>
        <tr>
            <th>#ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="ChooseData in ChooseData" :key="ChooseData.id">
          <td>{{ChooseData.id}}</td>
          <td>{{ChooseData.firstName}}</td>
          <td>{{ChooseData.lastName}}</td>
          <td>{{ChooseData.email}}</td>
          <td>{{ChooseData.phone}}</td>
          <td>{{ChooseData.address.streetAddress + ChooseData.address.city}}</td>
          <td>{{ChooseData.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import $ from "jquery";
import {DataTable} from "datatables.net";
var ChooseData = new Array;
var InputData = new Array; 
  $(document).ready(function () {   
      $('#table_id').on('click', 'tr', function () {
        ChooseData.push($('#table_id').DataTable().row(this).data());
      });
  });
export default {
  data:() =>({
  ChooseData,
}),
  name: 'datatable',
  methods: {
    EnterData(index) {
      if( /^(8|\+7)\d{10}$/.test(document.getElementById('inputPhone').value)==true && 
          /^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/.test(document.getElementById('inputEmail4').value)==true &&
          $('#inputFirstName')[0].value!=='' &&
          $('#inputLastName')[0].value!=='' &&
          $('#inputAddress')[0].value!=='' &&
          $('#inputCity')[0].value!=='' &&
          $('#inputState')[0].value!=='' &&
          $('#InputDescription')[0].value!==''){
        InputData.push({
            id: Math.floor(Math.random() * 100) + 1,
            firstName: $('#inputFirstName')[0].value,
            lastName: $('#inputLastName')[0].value,
            email: $('#inputEmail4')[0].value,
            phone: $('#inputPhone')[0].value,
            address: { streetAddress: $('#inputAddress')[0].value,
                        city: $('#inputCity')[0].value,
                        state: $('#inputState')[0].value},
            description: $('#InputDescription')[0].value,
        })
        $('#DataForm')[0].style.display='none';
        }else{(alert("Данные введены неправильно!"))}
        console.log(InputData);
    },
    OpenForm:function(){
      $('#DataForm')[0].style.display='block';
    },
    CloseForm:function(){
      $('#DataForm')[0].style.display='none';
    },
    BigData: function (){
      $('#table_id').each(function () {
      $('#table_id').dataTable().fnClearTable();
      $('#table_id').dataTable().fnDestroy();});
      $('#table_id').DataTable({ajax:{url:"http://www.filltext.com/?rows=1000&id=%7Bnumber%7C1000%7D&firstName=%7BfirstName%7D&delay=3&lastName=%7BlastName%7D&email=%7Bemail%7D&phone=%7Bphone%7C(xxx)xxx-xx-xx%7D&address=%7BaddressObject%7D&description=%7Blorem%7C32%7D",
                              contentType: "application/json",
                              type: "GET",
                                dataSrc: function (d) {
                                  return d
                                }
                              },
                              data:InputData,
                              bLengthChange : false,
                              pageLength: 50,
                              columns: [
                                { "data": "id" },
                                { "data": "firstName" },
                                { "data": "lastName" },
                                { "data": "email" },
                                { "data": "phone" },
                                { "data": "address", 
                             render(r) {
                              return r.streetAddress + r.city + r.state
                            }
                            },
                                { "data": "description" },
                ]});
    },

    SmallData: function (){ 
      $('#table_id').each(function () {
      $('#table_id').dataTable().fnClearTable();
      $('#table_id').dataTable().fnDestroy();});
      $('#table_id').DataTable({ajax:{url:"http://www.filltext.com/?rows=32&id={number|1000}&firstName={firstName}&lastName={lastName}&email={email}&phone={phone|(xxx)xxx-xx-xx}&address={addressObject}&description={lorem|32}",
                              contentType: "application/json",
                              type: "GET",
                                dataSrc: function (d) {
                                  return d
                                }
                              },
                              data:InputData,
                              bLengthChange : false,
                              pageLength: 50,
                              columns: [
                                { "data": "id" },
                                { "data": "firstName" },
                                { "data": "lastName" },
                                { "data": "email" },
                                { "data": "phone" },
                                { "data": "address", 
                             render(r) {
                              return r.streetAddress + r.city
                            }
                            },
                                { "data": "description" },
                ]});
    },
  },


    mounted() {
          $('#table_id').DataTable({
                ajax: {
                  url: "http://www.filltext.com/?rows=1000&id=%7Bnumber%7C1000%7D&firstName=%7BfirstName%7D&delay=3&lastName=%7BlastName%7D&email=%7Bemail%7D&phone=%7Bphone%7C(xxx)xxx-xx-xx%7D&address=%7BaddressObject%7D&description=%7Blorem%7C32%7D",
                  contentType: "application/json",
                  type: "GET",
                  dataSrc: function (d) {
                    return d
                  }
                },
                bLengthChange : false,
                pageLength: 50,
                columns: [
                  { "data": "id" },
                  { "data": "firstName" },
                  { "data": "lastName" },
                  { "data": "email" },
                  { "data": "phone" },
                  { "data": "address", 
                    render(r) {
                      return r.streetAddress + r.city
                    }
                  },
                  { "data": "description" },
                ]
              });
},
}


</script>
<style scoped>
.container{
  margin:3% auto;
}
.table{
  margin-top:5%;
}
button{
  margin-right:2%;
}
form{
  border: 1px solid gray;
  padding:2%;
  margin:2%;
  display:none;
  z-index: 9;
  background-color: white;
}
.form-row{
  display:flex;
}
.form-group{
  margin-bottom:2%;
}
</style>

